@mixin mobile
  @media (max-width: 540px)
    @content

@mixin tablet
  @media (max-width: 768px)
    @content

.list
  width: 344px
  max-height: 424px
  overflow-y: auto
  position: absolute
  top: 47px
  left: 16px
  display: flex
  flex-direction: column
  background-color: #fff
  border-radius: 0px 0px 8px 8px

  @include tablet
    max-height: 213px

  @include mobile
    max-height: 107px
    width: 262px

  .listHeader
    background-color: #20252b
    color: #fff
    padding: 10px 16px
    font-size: 12px
    line-height: 12px
    border-radius: 8px 8px 0px 0px
    position: fixed
    top: 95px
    width: 344px
    z-index: 2

    @include mobile
      width: 262px

  .listMain
    display: flex
    flex-direction: column

    .content
      // background-color: lightgreen
      border-top: 2px solid #d9dbe0
      padding: 8px 16px
      display: flex
      flex-direction: column
      gap: 2px

      p
        display: flex
        flex-direction: row
        gap: 4px
        font-weight: bold
        color: #20252B
        font-size: 14px
        line-height: 21px
        

      .date
        // background-color: lightgreen
        font-weight: normal
        color: #556476
        font-size: 12px
        line-height: 12px

    .contentS
      @extend .content
      background-color: #F5F6FA

    .content2
      // background-color: lightgreen
      // border-top: 2px solid #d9dbe0
      padding: 16px 70px
      display: flex
      flex-direction: row
      text-align: center
      align-items: center
      font-weight: bold
      color: #556476
      font-size: 12px
      line-height: 12px
      @include mobile
        padding: 16px 30px
